.item__img {
  width: 200px;
}

.item__name {
  text-transform: capitalize;
  border-top: black solid 0.5px;
  border-bottom: black solid 0.5px;
  width: 200px;
  text-align: center;
  padding: 10px 0;
}

.item__types {
  font-size: 12px;
  display: flex;
  text-transform: uppercase;
  padding: 10px 10px;
  color: white;
}

.type {
  background-color: rgb(110, 108, 108);
  padding: 2px 2px;
  border: solid rgb(110, 108, 108);
  border-radius: 35%;
  margin: 0 5px;
}
